In [12]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_csv('../2019CO농도/2019_11월.csv')
df = df.drop([0,2,3])
df = df.iloc[:, 0:9]
df = df.rename(columns=df.iloc[0])
df = df.drop([1])
df['월평균\n(ppm)'] = df['월평균\n(ppm)'].str.replace(pat=r'[*]', repl= r' ', regex=True)
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']
df_jeju = df[df['시.도'] == '제주']

KeyError: '월평균\n(ppm)'

In [5]:

df_seoul
df_seoul_a = df_seoul['월평균\n(ppm)'].astype(float)
df_seoul_mean = df_seoul_a.mean()
print(df_seoul_mean)
data = [{'시.도' :'서울', '월평균\n(ppm)' : df_seoul_mean}]
df_seoul_mean_data = pd.DataFrame(data)
df_seoul_mean_data

0.45600000000000007

  시.도  월평균\n(ppm)
0  서울     0.45600

In [6]:
df_gg_a = df_gg['월평균\n(ppm)'].astype(float)
df_gg_mean = df_gg_a.mean()
print(df_gg_mean)
data = [{'시.도' :'경기', '월평균\n(ppm)' : df_gg_mean}]
df_gg_mean_data = pd.DataFrame(data)
df_gg_mean_data

0.4399999999999995

  시.도  월평균\n(ppm)
0  경기     0.44000

In [7]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_mean = df_incheon_a.mean()
print(df_incheon_mean)
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_mean_data = pd.DataFrame(data)
df_incheon_mean_data

0.47894736842105273

  시.도  월평균\n(ppm)
0  인천     0.47895

In [8]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_mean = df_daegu_a.mean()
print(df_daegu_mean)
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_mean_data = pd.DataFrame(data)
df_daegu_mean_data

0.35714285714285715

  시.도  월평균\n(ppm)
0  대구     0.35714

In [9]:
df_jeju_a = df_jeju['월평균\n(ppm)'].astype(float)
df_jeju_mean = df_jeju_a.mean()
print(df_jeju_mean)
data = [{'시.도' :'제주', '월평균\n(ppm)' : df_jeju_mean}]
df_jeju_mean_data = pd.DataFrame(data)
df_jeju_mean_data

0.21999999999999997

  시.도  월평균\n(ppm)
0  제주     0.22000

In [10]:
df_crop = pd.concat([df_seoul_mean_data, df_gg_mean_data, df_incheon_mean_data, df_daegu_mean_data, df_jeju_mean_data], ignore_index = True)
df_crop

  시.도  월평균\n(ppm)
0  서울     0.45600
1  경기     0.44000
2  인천     0.47895
3  대구     0.35714
4  제주     0.22000

In [11]:
df_crop.to_csv("19년도_11월_CO오염도_최종.csv" , encoding = 'utf-8-sig' )