In [1]:
import pandas as pd

pd.options.display.float_format = '{:.5f}'.format #e 나오는거 싫어서 바꿈

df = pd.read_csv('../2019CO농도/2019_01월.csv')
df = df.drop([0,2,3])
df = df.iloc[:, 0:9]
df = df.rename(columns=df.iloc[0])
df = df.drop([1])
df_seoul = df[df['시.도'] == '서울']
df_gg = df[df['시.도'] == '경기']
df_incheon = df[df['시.도'] == '인천']
df_daegu = df[df['시.도'] == '대구']

# df_merge1 = df_seoul.append(df_incheon)
# df_merge2 = df_gg.append(df_daegu)
# df = df_merge1.append(df_merge2)

In [3]:
df_gg_south = df_gg[(df_gg['시군구'] == '수원') | (df_gg['시군구'] == '안양') | (df_gg['시군구'] == '성남') | (df_gg['시군구'] == '광명') |
                   (df_gg['시군구'] == '안산') | (df_gg['시군구'] == '평택') | (df_gg['시군구'] == '과천') | (df_gg['시군구'] == '의왕') |
                    (df_gg['시군구'] == '군포') | (df_gg['시군구'] == '시흥') | (df_gg['시군구'] == '부천') | (df_gg['시군구'] == '용인') | (df_gg['시군구'] == '김포') | 
                   (df_gg['시군구'] == '오산') | (df_gg['시군구'] == '하남') | (df_gg['시군구'] == '화성')]

print(df_gg_south)

df_gg_south_a = df_gg_south['월평균\n(ppm)'].astype(float)
df_gg_south_mean = df_gg_south_a.mean()
data = [{'시.도' :'경기남부', '월평균\n(ppm)' : df_gg_south_mean}]
df_gg_south_b = pd.DataFrame(data)
df_gg_south_b
#df_gg_south_mean = df_gg_south['월평균\n(ppm)'].mean()
#df_gg_south_mean

    시.도 시군구  측정소명 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day) 유효\n측정\n횟수\n(8hour)  \
119  경기  수원   인계동            99.19                31                 744
120  경기  수원   신풍동            99.32                31                 744
121  경기  수원   광교동            99.32                31                 744
122  경기  수원   영통동            99.19                31                 744
123  경기  수원   천천동            99.32                31                 744
124  경기  수원   고색동            99.05                31                 744
125  경기  안양  안양6동            99.32                31                 744
126  경기  안양   부림동            91.93                27                 683
127  경기  안양   호계동            99.19                31                 744
128  경기  안양  안양2동            99.05                31                 744
129  경기  성남   단대동            95.83                29                 714
130  경기  성남   정자동            99.46                31                 744
131  경기  성남   수내동            95.56                29                 713
132  경기  성남   복정동            99.05                31                 744
133  경기  성남  상대원동            92.33                27                 686
134  경기  성남   운중동            98.79                31                 739
137  경기  광명   철산동            98.92                31                 738
138  경기  광명   소하동            98.92                31                 744
139  경기  안산   고잔동            99.86                31                 744
140  경기  안산   원시동           100.00                31                 744
141  경기  안산   본오동           100.00                31                 744
142  경기  안산   부곡동           100.00                31                 744
143  경기  안산   대부동           100.00                31                 744
144  경기  안산   호수동           100.00                31                 744
145  경기  평택   비전동            99.59                31                 744
146  경기  평택    안중            99.59                31                 744
147  경기  평택   평택항            99.46                31                 744
148  경기  평택   송북동            99.46                31                 744
149  경기  과천   별양동           100.00                31                 744
150  경기  과천   과천동            99.05                31                 744
153  경기  의왕  부곡3동            98.92                31                 744
154  경기  의왕   고천동            98.79                31                 740
163  경기  군포    당동            98.79                31                 738
164  경기  군포   산본동            99.05                31                 736
165  경기  시흥   정왕동            82.39                24                 605
166  경기  시흥  시화산단            99.19                31                 744
167  경기  시흥   대야동            96.10                29                 717
168  경기  부천  소사본동            99.19                31                 744
169  경기  부천    내동            98.92                31                 738
170  경기  부천   중2동            99.19                31                 744
171  경기  부천   오정동            99.59                31                 744
176  경기  용인  김량장동            99.59                31                 744
177  경기  용인    수지            99.59                31                 744
178  경기  용인    기흥            87.90                27                 661
179  경기  김포   사우동            99.73                31                 744
180  경기  김포   고촌읍            99.46                31                 744
181  경기  김포   통진읍            99.32                31                 744
182  경기  오산   오산동            99.19                31                 744
183  경기  하남   신장동            98.92                31                 738
184  경기  화성   남양읍            99.19                31                 744
185  경기  화성    향남            98.92                31                 738
186  경기  화성   동탄동            99.19                31                 744
187  경기  화성   우정읍            99.59                31                 744
188  경기  화성   청계동            99.19                31                 744

    유효\n측정\n시간\n(hour) 월평균\n(ppm) 1시간치
119                738        0.9  0.4
120                739        0.8  0.3
121                739        0.8  0.1
122                738        0.9  0.4
123                739        0.7  0.2
124                737        0.8  0.4
125                739        0.6  0.2
126                684        0.8  0.4
127                738        0.7  0.3
128                737        0.9  0.5
129                713        0.8  0.3
130                740        0.7  0.2
131                711        0.8  0.3
132                737        0.8  0.3
133                687        0.8  0.3
134                735        0.7  0.3
137                736        0.8  0.2
138                736        0.7  0.3
139                743        0.5  0.3
140                744        0.7  0.3
141                744        0.8  0.3
142                744        0.8  0.3
143                744        0.5  0.3
144                744        0.6  0.1
145                741        0.5  0.3
146                741        0.4  0.2
147                740        0.6  0.4
148                740        0.8  0.4
149                744        0.8  0.2
150                737        1.0  0.4
153                736        0.8  0.2
154                735        0.7  0.1
163                735        0.8  0.3
164                737        0.6  0.2
165                613        0.7  0.1
166                738        0.8  0.3
167                715        0.8  0.3
168                738        0.7  0.3
169                736        0.6  0.2
170                738        0.8  0.4
171                741        0.7  0.4
176                741        0.6  0.3
177                741        0.8  0.3
178                654        0.7  0.1
179                742        0.7  0.3
180                740        0.4  0.1
181                739        0.7  0.2
182                738        0.7  0.3
183                736        0.8  0.3
184                738        0.5  0.2
185                736        0.7  0.4
186                738        0.5  0.2
187                741        0.6  0.3
188                738        0.6  0.4

    시.도  월평균\n(ppm)
0  경기남부     0.70926

In [4]:
df_gg_north = df_gg[(df_gg['시군구'] == '의정부') | (df_gg['시군구'] == '고양') | (df_gg['시군구'] == '양주') | (df_gg['시군구'] == '동두천') |
                   (df_gg['시군구'] == '파주') | (df_gg['시군구'] == '포천') | (df_gg['시군구'] == '연천')]
print(df_gg_north)

df_gg_north_a = df_gg_north['월평균\n(ppm)'].astype(float)
df_gg_north_a
df_gg_north_mean = df_gg_north_a.mean()
df_gg_north_mean
data = [{'시.도' :'경기북부', '월평균\n(ppm)' : df_gg_north_mean}]
df_gg_north_b = pd.DataFrame(data)
df_gg_north_b

    시.도  시군구   측정소명 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day) 유효\n측정\n횟수\n(8hour)  \
135  경기  의정부   의정부동            99.46                31                 744
136  경기  의정부  의정부1동            99.19                31                 738
155  경기   고양    행신동            99.32                31                 744
156  경기   고양    식사동            99.59                31                 744
157  경기   고양    신원동            98.65                31                 736
158  경기   고양    주엽동            98.92                31                 737
189  경기   양주    백석읍            99.46                31                 744
190  경기   양주     고읍            98.92                31                 744
191  경기  동두천    보산동            99.05                31                 744
194  경기   파주    금촌동            99.05                31                 738
195  경기   파주     운정            99.05                31                 744
196  경기   포천    선단동            99.46                31                 744
197  경기   포천    일동면            98.92                31                 744
199  경기   연천     연천            92.60                27                 686

    유효\n측정\n시간\n(hour) 월평균\n(ppm) 1시간치
135                740        0.7  0.2
136                738        0.9  0.3
155                739        0.8  0.4
156                741        0.5  0.3
157                734        0.7  0.2
158                736        0.7  0.2
189                740        0.6  0.2
190                736        0.7  0.2
191                737        0.7  0.2
194                737        1.0  0.3
195                737        0.8  0.2
196                740        0.8  0.2
197                736        0.7  0.3
199                689        0.7  0.3

    시.도  월평균\n(ppm)
0  경기북부     0.73571

In [5]:
df_gg_east = df_gg[(df_gg['시군구'] == '구리') | (df_gg['시군구'] == '광주') | (df_gg['시군구'] == '남양주') | (df_gg['시군구'] == '안성') |
                   (df_gg['시군구'] == '이천') | (df_gg['시군구'] == '여주') | (df_gg['시군구'] == '가평') | (df_gg['시군구'] == '양평')]
print(df_gg_east)
df_gg_east_a = df_gg_east['월평균\n(ppm)'].astype(float)
df_gg_east_a
df_gg_east_mean = df_gg_east_a.mean()
df_gg_east_mean
data = [{'시.도' :'경기동부', '월평균\n(ppm)' : df_gg_east_mean}]
df_gg_east_b = pd.DataFrame(data)
df_gg_east_b

    시.도  시군구 측정소명 유효\n자료\n획득률\n(%) 유효\n측정\n일수\n(day) 유효\n측정\n횟수\n(8hour)  \
151  경기   구리  교문동            99.46                31                 744
152  경기   구리  동구동            99.32                31                 744
159  경기   광주  경안동            99.05                31                 744
172  경기  남양주  금곡동            97.98                31                 734
173  경기  남양주  오남읍            99.05                31                 738
174  경기  남양주  별내동            99.59                31                 744
175  경기  남양주  화도읍            99.32                31                 744
192  경기   안성  봉산동            98.79                31                 744
193  경기   이천  창전동            99.59                31                 744
198  경기   여주   여주            99.32                31                 738
200  경기   가평  가평읍            96.10                29                 714
201  경기   양평   양평            99.19                31                 744

    유효\n측정\n시간\n(hour) 월평균\n(ppm) 1시간치
151                740        0.6  0.2
152                739        0.6  0.2
159                737        0.8  0.2
172                729        0.7  0.3
173                737        0.7  0.2
174                741        0.6  0.3
175                739        0.6  0.3
192                735        0.6  0.3
193                741        0.8  0.3
198                739        0.8  0.4
200                715        0.7  0.3
201                738        0.7  0.2

    시.도  월평균\n(ppm)
0  경기동부     0.68333

In [17]:
df_incheon_a = df_incheon['월평균\n(ppm)'].astype(float)
df_incheon_a
df_incheon_mean = df_incheon_a.mean()
df_incheon_mean
data = [{'시.도' :'인천', '월평균\n(ppm)' : df_incheon_mean}]
df_incheon_b = pd.DataFrame(data)
df_incheon_b

ValueError: could not convert string to float: '0.9**'

In [15]:
df_daegu_a = df_daegu['월평균\n(ppm)'].astype(float)
df_daegu_a
df_daegu_mean = df_daegu_a.mean()
df_daegu_mean
data = [{'시.도' :'대구', '월평균\n(ppm)' : df_daegu_mean}]
df_daegu_b = pd.DataFrame(data)
df_daegu_b

  시.도  월평균\n(ppm)
0  대구     0.66923

In [16]:
df_seoul
df_crop = pd.concat([df_seoul, df_gg_south_b, df_gg_north_b, df_gg_east_b, df_daegu_b, df_incheon_b], ignore_index = True)
df_crop_2 = df_crop.iloc[:, [0,1,-1]]
df_crop_2

NameError: name 'df_incheon_b' is not defined